@import "../shared";

.account {
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
   font-variant: none;
   cursor: pointer;

   &.closed {
      text-decoration: line-through;
   }
}

.multiAccountSelect {
   div {
      @include set-colors(input);
      white-space: nowrap;
   }
   label {
      margin: 0;
   }
}
