.account.closed {
   text-decoration: line-through;
}
.account {
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}

.multiAccountSelect div {
   min-height: 200px;
   background: var(--input-background);
   white-space: nowrap;
}
