.account.closed {
   text-decoration: line-through;
}
.account {
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}

.multiAccountSelect div {
   background: var(--input-background);
   white-space: nowrap;
}
.multiAccountSelect label {
   margin: 0;
}
