.roundButton {
   text-decoration: none;

   display: flex;
   flex-flow: row nowrap;      /* always use a single line */
   align-items: center;        /* align children vertically */
   justify-content: space-between;
   outline: none;
   color: var(--input-foreground);
}

.roundButton.selected span:first-child {
   color: var(--neumorph-fg);
}
.roundButton.selected span:last-child {
   font-weight: bold;
}

/* the text. This rule must come first, in case we show no text */
.roundButton span:last-child {
   flex: 1 1;

   white-space: nowrap;
   text-overflow: ellipsis;
   overflow: hidden;
}

a.roundButton:hover {
   text-decoration: none;
}

.roundButton.large {
   --rb-width: 3rem;
   --rb-height: 3rem;
}
.roundButton.large .fa {
   font-size: 1.3em;
}
.roundButton.normal {
   --rb-width: 2.5rem;
   --rb-height: 2.5rem;
}
.roundButton.small {
   --rb-width: 2rem;
   --rb-height: 2rem;
   font-size: 0.9em;
}
.roundButton.tiny {
   --rb-width: 1.4rem;
   --rb-height: 1.4rem;
   font-size: 0.8em;
}

.roundButton span:first-child {
   border-width: 1px;
   border-radius: 50%;
   margin: 5px 10px 5px 5px;
   width: var(--rb-width);
   height: var(--rb-height);

   display: flex;          /* center text inside */
   align-items: center;
   justify-content: center;
}
