.page {
   background: var(--page-background);
   color: var(--panel-fg);
}

#app {
   --row-gap: 15px;
   --col-gap: 25px;
   min-width: 100vw;
   min-height: 100vh;

   --footer-height: 0px;
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: auto 1fr minmax(auto, 180px);
   grid-template-areas:
      "header"
      "lsidebar"
      "main"
      "rsidebar"
      "footer";
   column-gap: var(--col-gap);
   row-gap: var(--row-gap);
   justify-items: stretch;
}

@media only screen and (min-width: 1025px) {
   #app {
      grid-template-columns: auto 1fr minmax(auto, 180px);
      grid-template-rows: auto 1fr auto;
      grid-template-areas:
         "lheader header rheader"
         "lsidebar main rsidebar"
         "footer footer footer";
   }
}

.main {
   grid-area: main;
}

.main-area {
   grid-area: main;
   width: 100%;
   height: 100%;

   display: flex;
   flex-flow: column nowrap;
   gap: var(--row-gap);
}

.italic {
   font-style: italic;
}

input:focus,
button:focus,
select:focus {
   outline: 3px solid var(--focus-color);
}

a {
   color: inherit;
   text-decoration: none;
}
a:hover {
   text-decoration: underline;
}

.morph {
   background: inherit;
   border-width: 0;
   box-shadow:
       -6px -6px 10px 0 var(--neumorph-light),
       6px 6px 10px 0 var(--neumorph-dark);
}
.disabled.morph:hover,
.disabled .morph:hover {
   box-shadow:
       -6px -6px 10px 0 var(--neumorph-light),
       6px 6px 10px 0 var(--neumorph-dark);
}
.morph:hover {
   box-shadow:
       -6px -6px 10px 0 var(--neumorph-light),
       6px 6px 10px 0 var(--neumorph-dark),
       inset -6px -6px 8px 0 var(--neumorph-light),
       inset 6px 6px 8px 0 var(--neumorph-selected-dark);
   transition: box-shadow 0.1s;
}
.selected .morph {
   box-shadow:
       -6px -6px 10px 0 var(--neumorph-light),
       6px 6px 10px 0 var(--neumorph-dark),
       inset -6px -6px 10px 0 var(--neumorph-light),
       inset 6px 6px 10px 0 var(--neumorph-selected-dark);
}

/*
.bg {
   position: absolute;
   bottom: 0;
   right: 0;
   left: 0;
   top: 0;
   z-index: 0;
}
.bg.circle {
   pointer-events: none;
   filter: drop-shadow(-6px -6px 15px var(--neumorph-light));
}
.bg.circle > div {
   clip-path: circle(20% at 100% 100%);
   background: var(--page-background);
   width: 100%;
   height: 100%;
}
*/
#app {
   background-image: url('./coins2.png');
   background-repeat: no-repeat;
   background-position: right bottom;
   background-size: auto 50%;
}

.positive {
   color: var(--positive-fg);
}
.negative {
   color: var(--negative-fg);
}
