.ledgerTable {
   flex: 1 1;  /* ledger itself occupies as much space as possible */
}

.ledgerTable a {
   text-decoration: none;
}

/* Editing */
.ledgerTable .tr.edit .td :is(input, select) {
   width: calc(100% - 9px);
}
.ledgerTable .tr.edit .td.reconcile select {
   -moz-appearance: none;
   -webkit-appearance: none;
   appearance: none;
}

.ledgerTable .tr .numeric {
   font-size: 0.8rem;
}
.ledgerTable .tr.nesting-0 .numeric {
   font-size: inherit;
}

.ledgerTable .tr {
   color: var(--table-row-details-fg);
   font-style: italic;
}
.ledgerTable .tr.nesting-0 {
   color: inherit;
   font-style: inherit;
}

/**
 * Column-specific settings
 */
.ledgerTable .num {
   flex: 0 1 5rem;
}
.ledgerTable .reconcile {
   flex: 0 1 1.5rem;
   text-align: center;
}
.ledgerTable .shares {
   flex: 0 1 5rem;
   text-align: right;
}
.ledgerTable :is(.payee, .transfer) {
   min-width: 150px;
}
.ledgerTable .summary {
   flex: 1 1;
   text-align: right;
}
.ledgerTable .memo {
   margin-left: 40px;
}
.ledgerTable .tfoot .th {
   text-align: right;
}

/*
.ledgerTable .memo {
   border-left: 1px solid var(--gray-400);
}
.ledgerTable .trgroup .tr:first-child .date,
.ledgerTable .trgroup .tr:first-child .num {
   border-bottom: 1px solid var(--gray-400);
}
*/
