.ledger {
   flex: 1 1;  /* ledger itself occupies as much space as possible */
}

.ledger a {
   text-decoration: none;
}

/* Editing */
.ledger .tr.edit .td input,
.ledger .tr.edit .td select {
   width: calc(100% - 9px);
}
.ledger .tr.edit .td.reconcile select {
   -moz-appearance: none;
   -webkit-appearance: none;
   appearance: none;
}

/* split transaction details */
.ledger .tr:not(:first-child) .td {
   color: var(--table-row-details-fg);
   font-style: italic;
}
.ledger .tr:not(:first-child) .numeric {
   font-size: 0.8rem;
}

/**
 * Column-specific settings
 */
.ledger .date {
   flex: 0 1 6rem;
   font-family: "minion pro", "myriad pro", "tahoma";
   font-variant-numeric: oldstyle-nums tabular-nums;
   font-variant-numeric: lining-nums tabular-nums;
   font-size-adjust: 0.438;
}
.ledger .num {
   flex: 0 1 5rem;
}
.ledger .reconcile {
   flex: 0 1 1.5rem;
   text-align: center;
}
.ledger .amount {
   flex: 0 1 7rem;
   text-align: right;
}
.ledger .shares {
   flex: 0 1 5rem;
   text-align: right;
}
.ledger .payee,
.ledger .transfer {
   min-width: 150px;
}

/*
.ledger .notes {
   border-left: 1px solid var(--gray-400);
}
.ledger .trgroup .tr:first-child .date,
.ledger .trgroup .tr:first-child .num {
   border-bottom: 1px solid var(--gray-400);
}
*/
