.cashflow {
   overflow: auto;
   flex: 1 1 300px;  /* ideally 300px, but can use more or less */
}
.cashflow .metrics .values {
   display: flex;
   justify-content: space-around;
}
.cashflow .metrics .value {
   font-weight: bold;
   font-size: 1.2em;
   flex: 3 1;
   text-align: right;
   padding-right: 10px;
   text-decoration: underline;
   text-decoration-style: dashed;
}
.cashflow .metrics .recommended {
   opacity: 0.8;
   flex: 1 1;
   text-align: right;
}
