#header {
   grid-area: header;

   display: flex;
   flex-flow: row nowrap;
   justify-content: space-between;
   align-items: stretch;
   gap: var(--gap-horiz);
}

#header .group {
   flex: 0;   /* Do not increase width or height of the group */
   display: flex;
   justify-content: center;   /* horizontally */
   align-items: stretch;      /* vertically */
}

#header .title {
   flex: 1 1;         /* Allow to expand as needed, to fit text */
   font-size: 1.2em;
   font-weight: bold;

   display: flex;
   flex-flow: column nowrap;
   justify-content: center;  /* center text vertically */
   align-items: flex-start;  /* left-align the text */
}

#header .settings {
   top: var(--header-tool-height);
}
