.headerbg {
   background: var(--panel-background);
   grid-area: 1 / 1 / 2 / 4;
   border-bottom: 1px solid var(--shadow-color);
}

#header {
   grid-area: header;

   display: flex;
   flex-flow: row nowrap;
   justify-content: space-between;
   align-items: stretch;
   gap: 10px;
}

#header .tools {
   display: flex;
   flex-flow: row nowrap;
   gap: 10px;
}
