.multidate {
   margin: var(--vert-spacing) 0;
}
.multidate .row {
   display: flex;
   flex-flow: row nowrap;
   align-items: center;
   margin: 0 0 0 10px;
   justify-content: flex-start;
}

.date {
   font-family: "minion pro", "myriad pro", "tahoma";
   font-variant-numeric: oldstyle-nums tabular-nums;
   font-variant-numeric: lining-nums tabular-nums;
   white-space: nowrap;
   font-size-adjust: 0.438;
}
