.accountSummary {
   --summary-bg: var(--tool-background);
   --summary-bg2: var(--tool-background2);
   --tl-radius: 10px;

   font-size: var(--font-size-sidebar);
}
.accountSummary .icon {
   border-radius: 50%;
   width: 2rem;
   height: 2rem;
   margin-right: 5px;

   display: flex;          /* center text inside */
   align-items: center;
   justify-content: center;
}
.accountSummary img {
   width: calc(2rem - 12px);
}

.accountSummary .name {
   display: flex;
   flex-flow: row nowrap;
   align-items: center;
   justify-content: space-between;
}
.accountSummary .name span:last-child {
   flex: 1 1;
   white-space: nowrap;
   text-overflow: ellipsis;
   overflow: hidden;
}

.accountSummary .content {
   text-align: right;
}

.accountSummary .popup {
   display: none;
   animation: popup 0.2s;
}
@keyframes popup {
  0%   { transform: scale(0); }
  100% { transform: scale(1); }
}

.accountSummary:hover .popup {
   --width: 170px;
   --padd: 20px;
   --gap: 5px;  /* between popup and accountSummary */

   display: block;
   position: absolute;
   margin-left: calc( 0px - var(--width) - 2 * var(--padd) - var(--gap));
   width: var(--width);
   background: var(--background-summary-popup);
   border: 1px solid green;
   border-radius: 10px;
   padding: 10px var(--padd);
}
.accountSummary .popup .name {
   font-weight: bold;
}
.accountSummary .popup th {
   font-weight: normal;
   text-align: left;
}


