#rsidebar {
   grid-area: rsidebar;

   display: flex;
   flex-flow: column nowrap;
   justify-content: flex-start;
   align-items: stretch;
   gap: 6px;

   margin-right: 10px;
   max-width: 300px;

   color: var(--panel-fg);
   z-index: 1;
}

#rsidebar h3 {
   font-size: 1rem;
   white-space: nowrap;
   text-overflow: ellipsis;
   overflow: hidden;
   margin: 0 0 16px 0;
}
