.networth {
   flex: 1 1;
}

.networth .thead .tr span {
   white-space: wrap;
}
.networth .tr span:first-child {
   flex: 1 0 150px;
}
.networth .tr span:not(:first-child) {
   --col-width: 110px;
   flex: 0 0 var(--col-width);
   text-align: right;
}
.networth .tr span:not(:first-child).span3 {
   flex-basis: calc( var(--col-width) * 3 );
}
.networth .tr span:not(:first-child).span2 {
   flex-basis: calc( var(--col-width) * 2 );
}
.networth .tfoot .tr span:not(:first-child),
.networth .tbody .tr span:not(:first-child) {
   text-align: right;
}
