.networth {
   width: 100%;
   height: 100%;
   overflow: auto;
   display: flex;

   flex-flow: column nowrap;
}

.networth .row {
   display: flex;
   flex-flow: row nowrap;
   justify-content: space-between;
}
.networth .row span {
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}
.networth .thead .row span {
   white-space: wrap;
}
.networth .row span:first-child {
   flex: 1 1;
}
.networth .row span:not(:first-child) {
   --col-width: 110px;
   flex: 0 0 var(--col-width);
   text-align: right;
}
.networth .row span:not(:first-child).span3 {
   flex-basis: calc( var(--col-width) * 3 );
}
.networth .row span:not(:first-child).span2 {
   flex-basis: calc( var(--col-width) * 2 );
}
.networth .tfoot .row span:not(:first-child),
.networth .tbody .row span:not(:first-child) {
   text-align: right;
}


.networth .tbody {
   flex: 1 1;
}
.networth .thead,
.networth .tfoot {
   flex: 0;
   font-weight: bold;

   /*
   margin-right: var(--scrollbar-width);
   */
}
