.networth {
   flex: 1 1;
}

.networth .thead .tr span {
   white-space: wrap;
}
.networth .tr span:first-child {
   flex: 1 1 150px;
}
.networth .tr span:not(:first-child).span3 {
   flex-basis: calc( var(--col-width) * 3 );
}
.networth .tr span:not(:first-child).span2 {
   flex-basis: calc( var(--col-width) * 2 );
}
.networth :is(.tfoot, .tbody) .tr span:not(:first-child) {
   text-align: right;
}
