.incomeexpense .recharts-legend-wrapper {
   height: 100% !important;
   overflow-x: hidden !important;
   top: 0 !important;

   min-width: 250px;
   max-width: 50%;
   white-space: nowrap;
}

.incomeexpense .customTooltip {
   background-color: var(--gray-400-80p);
   border-radius: 10px;
   border: 1px solid var(--gray-500);
   box-shadow: 3px 3px 4px 0 var(--shadow-color);
   padding: 10px;
   font-size: 1rem;
}
