.dashboard {
   grid-area: main;

   display: grid;
   grid-template-columns: repeat(4, minmax(200px, 1fr));
   grid-template-rows: repeat(auto-fill, 1fr);
   gap: 20px;
   justify-items: stretch;

   font-size: 0.8rem;
}

