.dashboard {
   --num-cols: 4;

   --num-cols-minus-one: calc(var(--num-cols) - 1);
   --w: calc(100% - var(--num-cols-minus-one) * var(--col-gap));
   --cw: calc(var(--w) / var(--num-cols));

   flex: 1 1;

   --panel-height: 150px;

   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(200px, var(--cw)));
   grid-template-rows: repeat(auto-fit, minmax(var(--panel-height), auto));

   grid-auto-flow: row;  /* dense */

   column-gap: var(--col-gap);
   row-gap: var(--row-gap);

   justify-items: stretch;

   .panel {
      min-height: var(--panel-height);
      width: 100%;
   }
}
