.dashboard {
   flex: 1 1;

   --panel-height: 150px;

   display: grid;
   /* 200px is so that we have at most 4 columns */
   grid-template-columns: repeat(auto-fit, minmax(200px, 24%));
   grid-template-rows: repeat(auto-fit, minmax(var(--panel-height), auto));
   grid-auto-flow: row;  /* dense */

   grid-gap: 20px;
   justify-items: stretch;

   font-size: 0.8rem;
}

.dashboard .panel {
   min-height: var(--panel-height);
   width: 100%;
}
