.panel {
   background: var(--panel-background);
   color: var(--panel-fg);
   box-shadow: 6px 6px 10px 0 var(--shadow-color);
   border: 1px solid var(--shadow-color);
   padding: 5px 10px;

   display: flex;
   flex-flow: column nowrap;
}

.panel .header {
   display: flex;
   flex-flow: row nowrap;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 10px;
}

.panel > .content {
   flex: 1 1;

   display: flex;
   flex-flow: column nowrap;
}

.col1 { grid-column: span 1; }
.col2 { grid-column: span 2; }
.col3 { grid-column: span 4; }
.col4 { grid-column: span 4; }

.row1 { grid-row: span 1; }
.row2 { grid-row: span 2; }
.row3 { grid-row: span 3; }
.row4 { grid-row: span 4; }

.panel .settingsMenu {
   position: relative;
   cursor: pointer;
}
