.investment {
   --account-row-height: 75px;
   --gap: 20px;
   --items-per-row: 4;

   display: flex;
   flex-flow: row wrap;
   gap: var(--gap);
   align-items: stretch;      // panels should all have the same length

   font-size: 0.8rem;

   width: 100%;               // Use all available space
   height: 100%;               // Use all available space

   overflow: auto;

   .tickerPanel {
      width: calc(100% / var(--items-per-row) - var(--gap));
      box-sizing: border-box;
      transition: transform 0.3s;

      &:hover {
         transform: scale(1.1);
      }
   }

   th {
      font-weight: normal
   }

   .tooltip {
      display: none;
      white-space: nowrap;
      text-align: left;
   }
   td:hover .tooltip {
      display: block;
      position: absolute;
      background: var(--page-background);
      color: var(--panel-fg);
      border: 1px solid var(--shadow-color);
   }

   .hist {
      flex: 0 1 100px;
   }

   .prices {
      margin: 10px 0;
      display: flex;
      justify-content: space-between;
   }

   .recharts-cartesian-axis-tick-value {
      font-size: 0.8em;
      fill: var(--panel-fg-low-contrast);
   }

   .perf table {
      width: 100%;
      table-layout: fixed;
      border-collapse: collapse;

      td, th {
         border: 1px solid var(--shadow-color);
         text-align: center;
      }
   }

   .account {
      margin-top: 20px;

      & > div {
         font-weight: bold;
      }

      table {
         width: 100%;
         margin-top: 10px;
         padding: 0 20px;

         th, td {
            text-align: left;
         }
      }
   }
}

