.panel.investments {
   background: none;
   border: 0;
   box-shadow: none;
}

.investment {
   --account-row-height: 75px;

   display: flex;
   flex-flow: row wrap;
   gap: 20px;

   .tickerPanel {
      width: calc(100% / 4 - 3 * 20px);
   }

   .hist {
      flex: 0 1 100px;
   }

   .prices {
      margin: 10px 0;
      display: flex;
      justify-content: space-between;
   }

   .recharts-cartesian-axis-tick-value {
      font-size: 0.8em;
      color: var(--table-row-details-fg);
   }

   .perf table {
      width: 100%;
      table-layout: fixed;
      border-collapse: collapse;

      td, th {
         border: 1px solid var(--shadow-color);
         text-align: center;
      }
   }

   .account {
      margin-top: 20px;

      table {
         width: 100%;
         margin-top: 10px;
         padding: 0 20px;

         th, td {
            text-align: left;
            font-weight: normal;
         }
      }
   }
}

