.tools {
   --gap-vert: 5px;
   --gap-horiz: 10px;

   /* How far should the background gray bar expand */
   --break: calc(100% - var(--tool-border-radius));

   flex: 1;

   display: flex;
   justify-content: space-between; /* flex-start; */
   align-items: stretch;
}

.tools.horiz {
   flex-flow: row nowrap;
   gap: var(--gap-horiz);
}

.tools.vert {
   flex-flow: column nowrap;
   gap: var(--gap-vert);
}

.tools.vert.background {
   /* The grey column beneath the icons */
   background: linear-gradient(
      to right,
      var(--grey),
      var(--grey) var(--break),
      var(--transparent) var(--break));
}
.tools.horiz.background {
   /* The grey column beneath the icons */
   background: linear-gradient(
      to bottom,
      var(--grey),
      var(--grey) var(--break),
      var(--transparent) var(--break));
}

.tools .group {
   flex: 0;   /* Do not increase width or height of the group */
   display: flex;
   justify-content: center;   /* center horizontally */
   align-items: stretch;       /* center vertically */
}
.tools.vert .group {
   flex-flow: column nowrap;
   gap: var(--gap-vert);
}
.tools.vert .group:not(:last-child) {
   margin-bottom: calc(3 * var(--gap-vert));
}
.tools.horiz .group:not(:last-child) {
   margin-right: calc(3 * var(--gap-vert));
}
.tools.horiz .group {
   flex-flow: row nowrap;
   gap: var(--gap-horiz);
}

.tool {
   background: var(--tool-background);
   border: 1px solid var(--dark-grey);
   border-radius: var(--tool-border-radius);
   color: var(--tool-color);
   text-align: center;  /* center icons */
   font-size: 10px;     /* for the text within */

   flex-grow: 0;        /* Do not increase width or height of this item */

   display: flex;             /* layout of children */
   flex-flow: column nowrap;
   justify-content: center;   /* center horizontally */
   align-items: center;       /* center vertically */
}

.tool .fa {
   font-size: 25px;
   margin: 3px 0;  /* leave space between text and icon, vertically */
}

.tools.horiz .tool {
   width: 50px;
   border-top-left-radius: 0;
   border-top-right-radius: 0;
}

.tools.horiz .tool.grow {
   flex: 1 1;         /* Allow to expand as needed, to fit text */
   max-width: 500px;  /* but within limits */
   min-width: 300px;
   font-size: 18px;
   font-weight: bold;
   margin: 0 auto;    /* center text within allocated space */
}

.tools.vert .tool {
   border-top-left-radius: 0;
   border-bottom-left-radius: 0;
   height: 50px;
}
