#app {
   --row-gap: 25px;
   --col-gap: 25px;
   background: var(--page-background);
   color: var(--text-color);
   min-width: 100vw;
   min-height: 100vh;

   --header-height: 50px;
   --footer-height: 0px;
   display: grid;
   grid-template-columns: 70px 1fr 120px;
   grid-template-rows: var(--header-height) calc(100vh - var(--header-height) - var(--footer-height) - 2 * var(--row-gap)) var(--footer-height);
   grid-template-areas:
      "lheader header rheader"
      "lsidebar main rsidebar"
      "footer footer footer";
   column-gap: var(--col-gap);
   row-gap: var(--row-gap);
   justify-items: stretch;
}

h1 {
   font-size: 1.5em;
}

.italic {
   font-style: italic;
}

input:focus,
button:focus,
select:focus {
   outline: 3px solid var(--focus-color);
}

a {
   color: inherit;
   text-decoration: underline rgb(150,150,150);
}
a:hover {
   text-decoration: underline;
}

