.priceHistory {
   height: 300px;
   font-size: 1em;
   font-family: "minion pro", "myriad pro", "tahoma";
   font-variant-numeric: oldstyle-nums tabular-nums;
   font-variant-numeric: lining-nums tabular-nums;
   font-size-adjust: 0.438;

   /*
   .recharts-line-curve {
      stroke: var(--color-500);
   }
   */

   .recharts-cartesian-grid line {
      stroke: var(--cartesian-grid);
   }

   .recharts-cartesian-axis-ticks tspan {
      fill: var(--panel-fg);
   }
}
