@import "../shared";

#dialogbg {
   position: fixed;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   background: rgba(0,0,0,.5);
   z-index: var(--zindex-dropdown);

   .dialog {
      @include set-colors(panel);
      border: 1px solid var(--page-fg);
      box-shadow: 3px 3px 4px 0 var(--shadow-color);
      position: fixed;
      left: 50%;
      top: 50%;
      transform:translate(-50%, -50%);

      h4 {
         margin-top: 0px;
         background: var(--page-bg);
         border-top: 1px solid var(--page-fg);
         border-bottom: 1px solid var(--page-fg);
      }
      .content {
         padding: 10px;
      }
      .buttons {
         display: flex;
         justify-content: flex-end;
         align-items: stretch;
         gap: 10px;

         > button {
            margin: 5px;
            padding: 5px;
            &.primary {
               @include set-colors(input-primary);
            }
         }
      }
   }
}
