.numeric {
   font-family: "minion pro", "myriad pro", "tahoma";
   font-variant-numeric: oldstyle-nums tabular-nums;
   font-variant-numeric: lining-nums tabular-nums;
   white-space: nowrap;
}
.numeric.positive {
   color: #06ea06;
}
.numeric.negative {
   color: red;
}
.numeric:after {
   content: '';
   margin-left: 6px;
}
.numeric.EUR:after {
   content: '\20ac';
}
.numeric.USD:after {
   content: '\f155';
   font: normal normal normal 14px/1 FontAwesome;
}

