/* base colors, from bootstrap:
 * https://v5.getbootstrap.com/docs/5.0/customize/color/
 */
@import "shared";

/**
 * Define the application color palette. These are all the colors we can use
 * in the application.
 * See https://www.smashingmagazine.com/2020/08/application-color-schemes-css-custom-properties/
 */

.lightpalette,
.darkpalette {
   @include generate-color-vars(color, $blue-mantine);
   @include generate-color-vars(invalid, $red-mantine);
   @include generate-color-vars(green, $green-mantine);
   @include generate-color-vars(red, $red-mantine);
   @include generate-color-vars(gray, #adb5bd);

   // Harmonic scales, used for various purposes
   --ratio: 1.5;
   --s-5: calc(var(--s-4) / var(--ratio));
   --s-4: calc(var(--s-3) / var(--ratio));
   --s-3: calc(var(--s-2) / var(--ratio));
   --s-2: calc(var(--s-1) / var(--ratio));
   --s-1: calc(var(--s0) / var(--ratio));
   --s0: 1rem;
   --s1: calc(var(--s0) * var(--ratio));
   --s2: calc(var(--s1) * var(--ratio));
   --s3: calc(var(--s2) * var(--ratio));
   --s4: calc(var(--s3) * var(--ratio));
   --s5: calc(var(--s4) * var(--ratio));

   --font-size-sidebar: 1rem;
   --font-size-tool: 0.8rem;
   --scrollbar-width: 15px;  /* for webkit + chrome */
   --table-vert-border-width: 0px;
   --table-horiz-border-width: 0px;
   --header-tool-height: 2.5rem;
   --nm-offset: 0.33rem;
   --nm-blur: 0.625rem;
   --nm-inset: 0.5rem;

   --zindex-dropdown:       1000;
   --zindex-sticky:         1020;
   --zindex-fixed:          1030;
   --zindex-modal-backdrop: 1040;
   --zindex-modal:          1050;
   --zindex-popover:        1060;
   --zindex-tooltip:        1070;
}

/**
 * Define functional colors.
 * At this level, we do not worry about the value of the colors, but about
 * their functions.
 */

.darkpalette {
   // foreground colors to use on either dark background colors or
   // light background colors.
   --fg-for-dark-colors: #f8f9fa;
   --fg-for-light-colors: #212529;

   --page-background: rgb(29,30,48);
   --panel-background: rgb(1,1,10);
   --panel-fg: #ced4da;
   --panel-fg-low-contrast: var(--gray-200);
   --panel-title-fg: var(--color-300);
   --background-summary-popup: rgba(0,0,0,0.9);
   --summary-background: rgba(255,255,255,0.2);
   --table-color: #b1afaf;
   --table-hover-background: var(--color-600);
   --table-hover-foreground: var(--fg-color-600);
   --table-row-first-background: none;
   --table-row-details-background: none;
   --table-row-details-fg: var(--gray-600);
   --table-border: var(--gray-800);
   --table-alternate-row: var(--color-300-10p);
   --focus-color: var(--color-500);
   --tooltip-bg: var(--gray-800-90p);

   --danger: var(--invalid-500);
   --danger-fg: var(--fg-invalid-500);

   --positive-fg: var(--green-300);
   --positive-fg-border: var(--green-300);
   --positive-fg2: var(--green-300-80p);
   --positive-fg2-border: var(--green-300-80p);
   --negative-fg: var(--red-400);
   --negative-fg-border: var(--red-300);

   --income-gradient-1: var(--green-600);
   --income-gradient-2: #ffffff;
   --expense-gradient-1: var(--red-600);
   --expense-gradient-2: #ffffff;

   --cartesian-grid: var(--gray-700);
   --graph-price: var(--gray-100);
   --graph-roi: var(--green-300);
   --graph-shares: var(--red-500);
   --graph-holding: var(--teal-500);
   --graph-nw: var(--color-600);
   --graph-nw-border: var(--color-600);

   --input-background: var(--gray-700);
   --input-foreground: var(--gray-fg-700);
   --input-border: var(--gray-900);
   --input-primary-background: var(--color-500);
   --input-primary-foreground: var(--fg-color-500);
   --input-primary-border: var(--color-600);
   --input-brightness-hover: 115%;
   --input-error-background: var(--invalid-300);
   --input-error-border: var(--invalid-100);
   --input-error-foreground: var(--fg-invalid-300);

   --neumorph-light: var(--gray-200-10p); // rgba(20,30,48,.99);
   --neumorph-dark: rgba(1,1,10,.8); // var(--gray-900-60p); // rgba(#343a40,.95);
   --neumorph-selected-dark: rgba(40,40,40,.2);
   --neumorph-fg: var(--color-400); // foreground in selected roundbuttons

   --expand-arrow-color: var(--gray-700);

   --shadow-color: var(--gray-900-20p);

   --tool-color: var(--fg-gray-900);
   --tool-background: var(--gray-900);

   --scrollbar-fg: var(--color-200);
   --scrollbar-bg: var(--panel-background);
   --scrollbar-border: none;

}
.lightpalette {
   --fg-for-dark-colors: #f8f9fa;
   --fg-for-light-colors: #212529;

   --page-background: var(--gray-100);
   --panel-background: #fbfbfb;
   --panel-fg: var(--fg-gray-100);
   --panel-fg-low-contrast: var(--gray-500);
   --panel-title-fg: var(--color-700);
   --background-summary-popup: rgba(0,0,0,0.9);
   --summary-background: rgba(255,255,255,0.2);
   --focus-color: var(--color-500);
   --tooltip-bg: var(--gray-400-90p);
   --table-color: #b1afaf;
   --table-border: var(--shadow-color);
   --table-hover-background: var(--color-200);
   --table-hover-foreground: var(--fg-color-200);
   --table-row-first-background: none;
   --table-row-details-background: none;
   --table-row-details-fg: var(--gray-500);
   --table-alternate-row: var(--color-100-10p);

   --income-gradient-1: var(--green-700);
   --income-gradient-2: var(--green-400);
   --expense-gradient-1: var(--red-700);
   --expense-gradient-2: var(--red-400);

   --danger: var(--invalid-500);
   --danger-fg: var(--fg-invalid-500);

   --positive-fg: var(--green-400);
   --positive-fg-border: var(--green-400);
   --positive-fg2: var(--green-400-50p);
   --positive-fg2-border: var(--green-400-50p);
   --negative-fg: var(--invalid-500);
   --negative-fg-border: var(--invalid-400);

   --input-background: white;
   --input-foreground: var(--fg-for-light-colors);
   --input-border: var(--gray-100);
   --input-primary-background: var(--color-500);
   --input-primary-foreground: var(--fg-color-500);
   --input-primary-border: var(--color-600);
   --input-brightness-hover: 85%;
   --input-error-background: var(--invalid-100);
   --input-error-border: var(--invalid-300);
   --input-error-foreground: var(--fg-invalid-100);

   --cartesian-grid: var(--gray-500);

   --graph-price: var(--gray-500);
   --graph-roi: var(--green-600);
   --graph-shares: var(--red-500);
   --graph-holding: var(--teal-200);
   --graph-nw: var(--color-200);
   --graph-nw-border: var(--color-200);

   --neumorph-light: rgba(255,255,255,0.5);
   --neumorph-dark: rgba(70,70,70,.12);
   --neumorph-selected-dark: rgba(120,120,120,.12);
   --neumorph-fg: var(--color-700);  // foreground in roundbuttons

   --expand-arrow-color: var(--gray-700);

   --shadow-color: var(--neumorph-dark);

   --tool-color: var(--fg-gray-200);
   --tool-background: var(--gray-200);

   --scrollbar-fg: var(--color-200);
   --scrollbar-bg: var(--panel-background);
   --scrollbar-border: none;
}

body {
   margin: 0;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;

   /* See http://clagnut.com/sandbox/font-size-adjust-ex.html */
   font-family: sans-serif;
   font-size-adjust: 0.521;
}

/* settings from
 * https://www.smashingmagazine.com/2020/07/css-techniques-legibility/
 */
h1 {
    font-size: 2.5rem;
    line-height: calc(1ex / 0.42);
    margin: calc(1ex / 0.42 / 2) 0;
}
h2 {
    font-size: 2rem;
    line-height: calc(1ex / 0.42);
    margin: calc(1ex / 0.42 / 2) 0;
}
h3 {
    font-size: 1.75rem;
    line-height: calc(1ex / 0.38);
    margin: calc(1ex / 0.38 / 2) 0;
}
h4 {
    font-size: 1.5rem;
    line-height: calc(1ex / 0.37);
    margin: calc(1ex / 0.37 / 2) 0;
}
h5 {
    font-size: 1rem;
    line-height: calc(1ex / 0.37);
    margin: calc(1ex / 0.37 / 2) 0;
}
p {
    font-size: 1rem;
    line-height: calc(1ex / 0.32);
    margin: calc(1ex / 0.32 / 2) 0;
}
p:lang(fr),
p:lang(en) {
    //  text-align: justify;
    //  hyphens: auto;
}
p:lang(it) { // The browser does NOT correctly support hyphenation
    //  text-align: left;
    //  hyphens: none;
}
