/**
 * Define the application color palette. These are all the colors we can use
 * in the application.
 * See https://www.smashingmagazine.com/2020/08/application-color-schemes-css-custom-properties/
 *
 * Calculation of brightness to compute the foreground color is from
 * https://www.smashingmagazine.com/2020/07/css-techniques-legibility/
 */
:root {
   /* base blue color, from bootstrap:
    * https://v5.getbootstrap.com/docs/5.0/customize/color/
    */
   --color-r: 13;
   --color-g: 110;
   --color-b: 253;

   --white-r: 255;
   --white-g: 255;
   --white-b: 255;

   --theme-color-interval: 0.08;  /* how different are shades of a color */

   /* Base color mixed with white (8 parts) */
   --color-100-r:
      calc(var(--color-r) * ( 1 - 8 * var(--theme-color-interval))
           + var(--white-r) * 8 * var(--theme-color-interval));
   --color-100-g:
      calc(var(--color-g) * ( 1 - 8 * var(--theme-color-interval))
           + var(--white-g) * 8 * var(--theme-color-interval));
   --color-100-b:
      calc(var(--color-b) * ( 1 - 8 * var(--theme-color-interval))
           + var(--white-b) * 8 * var(--theme-color-interval));
   --color-100: rgb(var(--color-100-r), var(--color-100-g), var(--color-100-b));
   --color-100-brightness: calc(
      var(--color-100-r) * 0.299
      + var(--color-100-g) * 0.587
      + var(--color-100-b) * 0.114);
   --fg-100-base: calc((128 - var(--color-100-brightness)) * 1000);
   --fg-100: rgb( var(--fg-100-base), var(--fg-100-base), var(--fg-100-base));

   /* Base color mixed with white (6 parts) */
   --color-200-r:
      calc(var(--color-r) * ( 1 - 6 * var(--theme-color-interval))
           + var(--white-r) * 6 * var(--theme-color-interval));
   --color-200-g:
      calc(var(--color-g) * ( 1 - 6 * var(--theme-color-interval))
           + var(--white-g) * 6 * var(--theme-color-interval));
   --color-200-b:
      calc(var(--color-b) * ( 1 - 6 * var(--theme-color-interval))
           + var(--white-b) * 6 * var(--theme-color-interval));
   --color-200: rgb(var(--color-200-r), var(--color-200-g), var(--color-200-b));
   --color-200-brightness: calc(
      var(--color-200-r) * 0.299
      + var(--color-200-g) * 0.587
      + var(--color-200-b) * 0.114);
   --fg-200-base: calc((128 - var(--color-200-brightness)) * 1000);
   --fg-200: rgb( var(--fg-200-base), var(--fg-200-base), var(--fg-200-base));

   /* Base color mixed with white (4 parts) */
   --color-300-r:
      calc(var(--color-r) * ( 1 - 4 * var(--theme-color-interval))
           + var(--white-r) * 4 * var(--theme-color-interval));
   --color-300-g:
      calc(var(--color-g) * ( 1 - 4 * var(--theme-color-interval))
           + var(--white-g) * 4 * var(--theme-color-interval));
   --color-300-b:
      calc(var(--color-b) * ( 1 - 4 * var(--theme-color-interval))
           + var(--white-b) * 4 * var(--theme-color-interval));
   --color-300: rgb(var(--color-300-r), var(--color-300-g), var(--color-300-b));
   --color-300-brightness: calc(
      var(--color-300-r) * 0.299
      + var(--color-300-g) * 0.587
      + var(--color-300-b) * 0.114);
   --fg-300-base: calc((128 - var(--color-300-brightness)) * 1000);
   --fg-300: rgb( var(--fg-300-base), var(--fg-300-base), var(--fg-300-base));

   /* Base color mixed with white (2 parts) */
   --color-400-r:
      calc(var(--color-r) * ( 1 - 2 * var(--theme-color-interval))
           + var(--white-r) * 2 * var(--theme-color-interval));
   --color-400-g:
      calc(var(--color-g) * ( 1 - 2 * var(--theme-color-interval))
           + var(--white-g) * 2 * var(--theme-color-interval));
   --color-400-b:
      calc(var(--color-b) * ( 1 - 2 * var(--theme-color-interval))
           + var(--white-b) * 2 * var(--theme-color-interval));
   --color-400: rgb(var(--color-400-r), var(--color-400-g), var(--color-400-b));
   --color-400-brightness: calc(
      var(--color-400-r) * 0.299
      + var(--color-400-g) * 0.587
      + var(--color-400-b) * 0.114);
   --fg-400-base: calc((128 - var(--color-400-brightness)) * 1000);
   --fg-400: rgb( var(--fg-400-base), var(--fg-400-base), var(--fg-400-base));

   /* Base color */
   --color-500: rgb(
      var(--color-r),
      var(--color-g),
      var(--color-b)
   );
   --color-500-brightness: calc(
      var(--color-r) * 0.299
      + var(--color-g) * 0.587
      + var(--color-b) * 0.114);
   --fg-500-base: calc((128 - var(--color-500-brightness)) * 1000);
   --fg-500: rgb( var(--fg-500-base), var(--fg-500-base), var(--fg-500-base));

   /* Base color mixed with black (2 parts) */
   --color-600-r: calc(var(--color-r) * ( 1 - 2 * var(--theme-color-interval)));
   --color-600-g: calc(var(--color-g) * ( 1 - 2 * var(--theme-color-interval)));
   --color-600-b: calc(var(--color-b) * ( 1 - 2 * var(--theme-color-interval)));
   --color-600: rgb(var(--color-600-r), var(--color-600-g), var(--color-600-b));
   --color-600-brightness: calc(
      var(--color-600-r) * 0.299
      + var(--color-600-g) * 0.587
      + var(--color-600-b) * 0.114);
   --fg-600-base: calc((128 - var(--color-600-brightness)) * 1000);
   --fg-600: rgb( var(--fg-600-base), var(--fg-600-base), var(--fg-600-base));

   /* Base color mixed with black (4 parts) */
   --color-700-r: calc(var(--color-r) * ( 1 - 4 * var(--theme-color-interval)));
   --color-700-g: calc(var(--color-g) * ( 1 - 4 * var(--theme-color-interval)));
   --color-700-b: calc(var(--color-b) * ( 1 - 4 * var(--theme-color-interval)));
   --color-700: rgb(var(--color-700-r), var(--color-700-g), var(--color-700-b));
   --color-700-brightness: calc(
      var(--color-700-r) * 0.299
      + var(--color-700-g) * 0.587
      + var(--color-700-b) * 0.114);
   --fg-700-base: calc((128 - var(--color-700-brightness)) * 1000);
   --fg-700: rgb( var(--fg-700-base), var(--fg-700-base), var(--fg-700-base));

   /* Base color mixed with black (6 parts) */
   --color-800-r: calc(var(--color-r) * ( 1 - 6 * var(--theme-color-interval)));
   --color-800-g: calc(var(--color-g) * ( 1 - 6 * var(--theme-color-interval)));
   --color-800-b: calc(var(--color-b) * ( 1 - 6 * var(--theme-color-interval)));
   --color-800: rgb(var(--color-800-r), var(--color-800-g), var(--color-800-b));
   --color-800-brightness: calc(
      var(--color-800-r) * 0.299
      + var(--color-800-g) * 0.587
      + var(--color-800-b) * 0.114);
   --fg-800-base: calc((128 - var(--color-800-brightness)) * 1000);
   --fg-800: rgb( var(--fg-800-base), var(--fg-800-base), var(--fg-800-base));

   /* Base color mixed with black (8 parts) */
   --color-900-r: calc(var(--color-r) * ( 1 - 8 * var(--theme-color-interval)));
   --color-900-g: calc(var(--color-g) * ( 1 - 8 * var(--theme-color-interval)));
   --color-900-b: calc(var(--color-b) * ( 1 - 8 * var(--theme-color-interval)));
   --color-900: rgb(var(--color-900-r), var(--color-900-g), var(--color-900-b));
   --color-900-brightness: calc(
      var(--color-900-r) * 0.299
      + var(--color-900-g) * 0.587
      + var(--color-900-b) * 0.114);
   --fg-900-base: calc((128 - var(--color-900-brightness)) * 1000);
   --fg-900: rgb( var(--fg-900-base), var(--fg-900-base), var(--fg-900-base));

   /* From bootstrap v5 palette */
   /*
   --fg-100: #212529;  /* good color for contrast on --color-100 */

   --gray-100: #f8f9fa;
   --gray-200: #e9ecef;
   --gray-300: #dee2e6;
   --gray-400: #ced4da;
   --gray-500: #adb5bd;
   --gray-600: #6c757d;  /* use white on top */
   --gray-700: #495057;
   --gray-800: #343a40;
   --gray-900: #212529;

   --gray-400-50p: rgba(206,212,212,50%);
   --gray-400-70p: rgba(206,212,212,70%);
   --gray-400-90p: rgba(206,212,212,90%);

   --font-size: 16px;
   --font-size-sidebar: 15px;
   --font-size-tool: 13px;
   --scrollbar-width: 15px;  /* for webkit + chrome */
   --tool-border-radius: 1rem; /* 10px; */
   --table-vert-border-width: 0px;
   --table-horiz-border-width: 0px;
   --header-tool-height: 40px;
}



.darkpalette {
   --page-background: var(--gray-700);
   --panel-background: var(--gray-800);
   --panel-fg: var(--gray-100);
   --background-summary-popup: rgba(0,0,0,0.9);
   --button-fg: var(--panel-fg);
   --button-disabled-fg: var(--gray-600);
   --summary-background: rgba(255,255,255,0.2);
   --table-color: #b1afaf;
   --table-hover-background: var(--gray-700);
   --table-row-first-background: none;
   --table-row-details-background: none;
   --table-row-details-fg: var(--gray-600);
   --transparent: rgba(0,0,0,.0);
   --grey: var(--gray-300);
   --color-on-grey: var(--fg-100);  /* text color on --grey background */
   --focus-color: var(--color-100);

   --neumorph-light: rgba(58,58,58,.7);
   --neumorph-dark: rgba(0,0,0,.7);
   --neumorph-bg: rgba(58,58,58,.9);

   --toolbar-background: none;
   --toolbar-background2: none;

   --expand-arrow-color: var(--gray-700);

   --shadow-color: var(--gray-600);

   --tool-color: var(--panel-fg);
   --tool-background: var(--page-background);
   --tool-background-on-page: var(--panel-background);
   --tool-border: none;

   --scrollbar-fg: var(--color-200);
   --scrollbar-bg: var(--panel-background);
   --scrollbar-border: none;

}
.lightpalette {
   --page-background: var(--gray-200);
   --panel-background: #f6f6f6;
   --panel-fg: #222;
   --background-summary-popup: rgba(0,0,0,0.9);
   --button-fg: var(--panel-fg);
   --button-disabled-fg: var(--gray-400);
   --summary-background: rgba(255,255,255,0.2);
   --table-color: #b1afaf;
   --table-hover-background: var(--gray-200);
   --table-row-first-background: none;
   --table-row-details-background: none;
   --table-row-details-fg: var(--gray-500);
   --transparent: rgba(0,0,0,.0);
   --grey: var(--gray-300);
   --color-on-grey: var(--fg-100);  /* text color on --grey background */
   --focus-color: var(--color-100);
   --input-background: white;

   --toolbar-background: none;
   --toolbar-background2: none;

   --neumorph-light: rgba(255,255,255,0.5);
   --neumorph-dark: rgba(70,70,70,.12);
   --neumorph-bg: rgba(233,236,239,.9);

   --expand-arrow-color: var(--gray-400);

   --shadow-color: var(--neumorph-dark);

   --tool-color: var(--gray-700);
   --tool-background: var(--gray-200);
   --tool-background-on-page: var(--neumorph-bg);
   --tool-border: none;

   --scrollbar-fg: var(--color-200);
   --scrollbar-bg: var(--panel-background);
   --scrollbar-border: none;
}

body {
  margin: 0;
  font-family: sans-serif;

  /*
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: var(--font-size);
}
