/* base colors, from bootstrap:
 * https://v5.getbootstrap.com/docs/5.0/customize/color/
 */
$blue:     #0d6efd !default;
$indigo:   #6610f2 !default;
$purple:   #6f42c1 !default;
$pink:     #d63384 !default;
$red:      #dc3545 !default;
$orange:   #fd7e14 !default;
$yellow:   #ffc107 !default;
$green:    #198754 !default;
$teal:     #20c997 !default;
$cyan:     #0dcaf0 !default;

$theme-color-interval: 8% !default;  /* how different are shades of a color */

@function tint-color($color, $level) {
  @return mix(white, $color, $level * $theme-color-interval);
}
@function shade-color($color, $level) {
  @return mix(black, $color, $level * $theme-color-interval);
}
@function black-or-white($color) {
   // Compute brightness: see
   // https://www.smashingmagazine.com/2020/07/css-techniques-legibility/
   $brightness: red($color) * 0.299 + green($color) * 0.587 + blue($color) * 0.114;
   @if $brightness >= 128 {
      @return "var(--gray-900)";
   } @else {
      @return white;
   }
}

@mixin generate-color-vars($key, $base) {
   $v-100: tint-color($base, 8) !default;
   $v-200: tint-color($base, 6) !default;
   $v-300: tint-color($base, 4) !default;
   $v-400: tint-color($base, 2) !default;
   $v-600: shade-color($base, 2) !default;
   $v-700: shade-color($base, 4) !default;
   $v-800: shade-color($base, 6) !default;
   $v-900: shade-color($base, 8) !default;
   --#{$key}-100: #{$v-100};
   --#{$key}-200: #{$v-200};
   --#{$key}-300: #{$v-300};
   --#{$key}-400: #{$v-400};
   --#{$key}-400-80p: #{rgba($v-400, 0.8)};
   --#{$key}-500: #{$base};
   --#{$key}-500-10p: #{rgba($base, 0.1)};
   --#{$key}-500-30p: #{rgba($base, 0.3)};
   --#{$key}-600: #{$v-600};
   --#{$key}-700: #{$v-700};
   --#{$key}-800: #{$v-800};
   --#{$key}-800-20p: #{rgba($v-800, 0.2)};
   --#{$key}-800-50p: #{rgba($v-800, 0.5)};
   --#{$key}-900: #{$v-900};
   --#{$key}-900-80p: #{rgba($v-900, 0.8)};
   --fg-#{$key}-100: #{black-or-white($v-100)};
   --fg-#{$key}-200: #{black-or-white($v-200)};
   --fg-#{$key}-300: #{black-or-white($v-300)};
   --fg-#{$key}-400: #{black-or-white($v-400)};
   --fg-#{$key}-500: #{black-or-white($base)};
   --fg-#{$key}-600: #{black-or-white($v-600)};
   --fg-#{$key}-700: #{black-or-white($v-700)};
   --fg-#{$key}-800: #{black-or-white($v-800)};
   --fg-#{$key}-900: #{black-or-white($v-900)};
}

/**
 * Define the application color palette. These are all the colors we can use
 * in the application.
 * See https://www.smashingmagazine.com/2020/08/application-color-schemes-css-custom-properties/
 */

:root {
   @include generate-color-vars(color, $blue);
   @include generate-color-vars(invalid, $red);
   @include generate-color-vars(green, $green);
   @include generate-color-vars(gray, #adb5bd);
   white-fg: #{black-or-white(white)};  // foreground to use on top of white

   --font-size: 16px;
   --font-size-sidebar: 15px;
   --font-size-tool: 13px;
   --scrollbar-width: 15px;  /* for webkit + chrome */
   --table-vert-border-width: 0px;
   --table-horiz-border-width: 0px;
   --header-tool-height: 40px;
}

/**
 * Define functional colors.
 * At this level, we do not worry about the value of the colors, but about
 * their functions.
 */


.darkpalette {
   --page-background: var(--gray-800);
   --panel-background: var(--gray-900);
   --panel-fg: var(--fg-gray-700);
   --background-summary-popup: rgba(0,0,0,0.9);
   --summary-background: rgba(255,255,255,0.2);
   --table-color: #b1afaf;
   --table-hover-background: var(--gray-700);
   --table-row-first-background: none;
   --table-row-details-background: none;
   --table-row-details-fg: var(--gray-600);
   --focus-color: var(--color-500);

   --danger: var(--invalid-500);
   --danger-fg: var(--fg-invalid-500);

   --cartesian-grid: var(--gray-800);
   --area-chart-fill: var(--color-800-20p);
   --area-chart-stroke: var(--color-800-50p);

   --input-background: var(--gray-700);
   --input-foreground: var(--gray-fg-700);
   --input-border: var(--gray-800);
   --input-primary-background: var(--color-500);
   --input-primary-foreground: var(--fg-color-500);
   --input-primary-border: var(--color-600);
   --input-brightness-hover: 115%;
   --input-error-background: var(--invalid-300);
   --input-error-border: var(--invalid-100);
   --input-error-foreground: var(--fg-invalid-300);

   --neumorph-light: rgba(78,78,78,.6);
   --neumorph-dark: rgba(0,0,0,.2);
   --neumorph-selected-dark: rgba(40,40,40,.2);
   --neumorph-fg: var(--color-300);  // foreground in roundbuttons

   --expand-arrow-color: var(--gray-700);

   --shadow-color: var(--gray-900-80p);

   --tool-color: var(--fg-gray-800);
   --tool-background: var(--gray-800);

   --scrollbar-fg: var(--color-200);
   --scrollbar-bg: var(--panel-background);
   --scrollbar-border: none;

}
.lightpalette {
   --page-background: var(--gray-100);
   --panel-background: #fbfbfb;
   --panel-fg: var(--fg-gray-100);
   --background-summary-popup: rgba(0,0,0,0.9);
   --summary-background: rgba(255,255,255,0.2);
   --focus-color: var(--color-500);

   --table-color: #b1afaf;
   --table-hover-background: var(--gray-200);
   --table-row-first-background: none;
   --table-row-details-background: none;
   --table-row-details-fg: var(--gray-500);

   --danger: var(--invalid-500);
   --danger-fg: var(--fg-invalid-500);

   --input-background: white;
   --input-foreground: var(--white-fg);
   --input-border: var(--gray-100);
   --input-primary-background: var(--color-500);
   --input-primary-foreground: var(--fg-color-500);
   --input-primary-border: var(--color-600);
   --input-brightness-hover: 85%;
   --input-error-background: var(--invalid-100);
   --input-error-border: var(--invalid-300);
   --input-error-foreground: var(--fg-invalid-100);

   --cartesian-grid: var(--gray-300);
   --area-chart-fill: var(--color-500-10p);
   --area-chart-stroke: var(--color-500-30p);

   --neumorph-light: rgba(255,255,255,0.5);
   --neumorph-dark: rgba(70,70,70,.12);
   --neumorph-selected-dark: rgba(120,120,120,.12);
   --neumorph-fg: var(--color-500);  // foreground in roundbuttons

   --expand-arrow-color: var(--gray-400);

   --shadow-color: var(--neumorph-dark);

   --tool-color: var(--fg-gray-200);
   --tool-background: var(--gray-200);

   --scrollbar-fg: var(--color-200);
   --scrollbar-bg: var(--panel-background);
   --scrollbar-border: none;
}

body {
   margin: 0;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   font-size: var(--font-size);

   /* See http://clagnut.com/sandbox/font-size-adjust-ex.html */
   font-family: sans-serif;
   font-size-adjust: 0.521;
}

/* settings from
 * https://www.smashingmagazine.com/2020/07/css-techniques-legibility/
 */
h1 {
    font-size: 2.5em;
    line-height: calc(1ex / 0.42);
    margin: calc(1ex / 0.42 / 2) 0;
}
h2 {
    font-size: 2em;
    line-height: calc(1ex / 0.42);
    margin: calc(1ex / 0.42 / 2) 0;
}
h3 {
    font-size: 1.75em;
    line-height: calc(1ex / 0.38);
    margin: calc(1ex / 0.38 / 2) 0;
}
h4 {
    font-size: 1.5em;
    line-height: calc(1ex / 0.37);
    margin: calc(1ex / 0.37 / 2) 0;
}
h5 {
    font-size: 1.1em;
    line-height: calc(1ex / 0.37);
    margin: calc(1ex / 0.37 / 2) 0;
}
p {
    font-size: 1em;
    line-height: calc(1ex / 0.32);
    margin: calc(1ex / 0.32 / 2) 0;
    // width: 60ch;
    // max-width: 100%;
}
p:lang(fr),
p:lang(en) {
    text-align: justify;
    hyphens: auto;
}
p:lang(it) { // The browser does NOT correctly support hyphenation
    text-align: left;
    hyphens: none;
}
