@use "sass:list";
@use "sass:string";

@import "shared";

/**
 * Define the application color palette. These are all the colors we can use
 * in the application.
 * See https://www.smashingmagazine.com/2020/08/application-color-schemes-css-custom-properties/
 */

.lightpalette, .darkpalette {
   @include generate-color-vars(color, $blue-mantine);
   @include generate-color-vars(invalid, $red-mantine);
   @include generate-color-vars(green, $green-mantine);
   @include generate-color-vars(red, $red-mantine);
   @include generate-color-vars(gray, #adb5bd);

   // Harmonic scales, used for various purposes
   --ratio: 1.5;
   --s-5: calc(var(--s-4) / var(--ratio));
   --s-4: calc(var(--s-3) / var(--ratio));
   --s-3: calc(var(--s-2) / var(--ratio));
   --s-2: calc(var(--s-1) / var(--ratio));
   --s-1: calc(var(--s0) / var(--ratio));
   --s0: 1rem;
   --s1: calc(var(--s0) * var(--ratio));
   --s2: calc(var(--s1) * var(--ratio));
   --s3: calc(var(--s2) * var(--ratio));
   --s4: calc(var(--s3) * var(--ratio));
   --s5: calc(var(--s4) * var(--ratio));

   --font-size-sidebar: 1rem;
   --font-size-tool: 0.8rem;
   --scrollbar-width: 15px;  /* for webkit and chrome */
   --table-vert-border-width: 0px;
   --table-horiz-border-width: 0px;
   --header-tool-height: 2.5rem;
   --nm-offset: 0.33rem;
   --nm-blur: 0.625rem;
   --nm-inset: 0.5rem;

   --zindex-dropdown:       1000;
   --zindex-sticky:         1020;
   --zindex-fixed:          1030;
   --zindex-modal-backdrop: 1040;
   --zindex-modal:          1050;
   --zindex-popover:        1060;
   --zindex-tooltip:        1070;
}

/**
 * Define semantic colors.
 * At this level, we do not worry about the value of the colors, but about
 * their functions. Each element in the map is a list of colors, one per theme.
 */
$themes: (
   // foreground colors to use on either dark background colors or
   // light background colors. Those are used automatically by the function
   // generate-color-vars
   fg-for-dark-colors:         #f8f9fa,
   fg-for-light-colors:        #212529,

   page-bg:                    [ rgb(29,30,48),         --gray-100 ],
   panel-border:               --shadow-color,
   panel-bg:                   [ rgb(1,1,10),           #fbfbfb ],
   panel-fg:                   [ --fg-for-dark-colors,  --fg-gray-100 ],
   panel-title-fg:             [ --color-300,           --color-700 ],
   shadow-color:               [ --neumorph-light,      --neumorph-dark ],

   tooltip-bg:                 [ --gray-800,       --gray-400 ],
   tooltip-fg:                 [ --gray-fg-800,    --gray-fg-400 ],
   tooltip-border:             [ --gray-700,       --gray-500 ],

   // Colors for tables
   table-alternate-row:        [ --color-300-10,   --color-100-10p ],
   table-border:               --cartesian-grid,
   table-expand-arrow-color:   [ --gray-500,       --gray-700 ],
   table-hover-bg:             [ --color-600,      --color-200 ],
   table-hover-fg:             [ --fg-color-600,   --fg-color-200 ],
   table-row-details-fg:       [ --gray-600,       --gray-500 ],

   // Colors used for the text of positive or negative numbers. Those are
   // displayed on --panel-bg colors.
   positive-fg:                [ --green-300,      --green-700 ],
   negative-fg:                [ --red-400,        --red-700 ],

   // Colors for the Income-Expenses panel. These are used to create gradients
   income-gradient-1:          [ --green-600,      --green-700 ],
   income-gradient-2:          [ #ffffff,          --green-400 ],
   expense-gradient-1:         [ --red-600,        --red-700   ],
   expense-gradient-2:         [ #ffffff,          --red-400   ],

   // The background grid in graphs
   cartesian-grid:             [ --gray-700,       --gray-500  ],

   // Colors for the various graphs
   graph-price:                [ --gray-100,       --gray-500  ],
   graph-roi:                  [ --green-300,      --green-600 ],
   graph-shares:               [ --gray-300,       --gray-800  ],
   graph-holding:              [ --color-500,      --color-200 ],
   graph-networth:             [ --color-600,      --color-200 ],
   graph-mean-realized:        [ --green-400,      --green-600 ],
   graph-mean-unrealized:      [ --green-400-50p,  --green-600-50p ],
   graph-mean-expenses:        [ --red-500,        --red-600 ],

   // Colors used in forms
   input-background:           [ --gray-700,       white ],
   input-border:               [ --gray-900,       --gray-100 ],
   input-brightness-hover:     [ 115%,             85% ],
   input-error-bg:             [ --invalid-300,    --invalid-100 ],
   input-error-border:         [ --invalid-100,    --invalid-300 ],
   input-error-fg:             [ --fg-invalid-300, --fg-invalid-100 ],
   input-focus-color:          --color-500,
   input-foreground:           [ --gray-fg-700,    --fg-for-light-colors],
   input-invalid-fg:           --fg-invalid-500,
   input-invalid:              --invalid-500,
   input-primary-bg:           --color-500,
   input-primary-border:       --color-600,
   input-primary-fg:           --fg-color-500,

   // Colors for neumorphism on buttons. Those are the shadows, and the
   // foreground color on selected buttons
   neumorph-dark:              [ rgba(1,1,10,.8),     rgba(70,70,70,.12) ],
   neumorph-fg:                [ --color-400,         --color-700 ],
   neumorph-light:             [ --gray-200-10p,      rgba(255,255,255,0.5) ],
   neumorph-selected-dark:     [ rgba(40,40,40,.2),   rgb(120,120,120,.12) ],

   // Colors for scrollbars
   scrollbar-fg:               --color-200,
   scrollbar-bg:               --panel-bg,
   scrollbar-border:           none,
);

@mixin themed($index) {
  @each $key, $colors in $themes {
     // Extract the color from the list (if we have a list)
     $raw: if(type-of($colors) == list, list.nth($colors, $index), $colors);

     // If we have the name of a CSS variable, add var()
     $c: if(type-of($raw) == string,
            if(string.slice($raw, 1, 2) == "--", "var(" + $raw + ")", $raw),
            $raw);

     --#{$key}: #{$c};
  }
}

.darkpalette {
   @include themed(1);
}
.lightpalette {
   @include themed(2);
}

body {
   margin: 0;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;

   /* See http://clagnut.com/sandbox/font-size-adjust-ex.html */
   font-family: sans-serif;
   font-size-adjust: 0.521;
}

/* settings from
 * https://www.smashingmagazine.com/2020/07/css-techniques-legibility/
 */
h1 {
    font-size: 2.5rem;
    line-height: calc(1ex / 0.42);
    margin: calc(1ex / 0.42 / 2) 0;
}
h2 {
    font-size: 2rem;
    line-height: calc(1ex / 0.42);
    margin: calc(1ex / 0.42 / 2) 0;
}
h3 {
    font-size: 1.75rem;
    line-height: calc(1ex / 0.38);
    margin: calc(1ex / 0.38 / 2) 0;
}
h4 {
    font-size: 1.5rem;
    line-height: calc(1ex / 0.37);
    margin: calc(1ex / 0.37 / 2) 0;
}
h5 {
    font-size: 1rem;
    line-height: calc(1ex / 0.37);
    margin: calc(1ex / 0.37 / 2) 0;
}
p {
    font-size: 1rem;
    line-height: calc(1ex / 0.32);
    margin: calc(1ex / 0.32 / 2) 0;
}
p:lang(fr),
p:lang(en) {
    //  text-align: justify;
    //  hyphens: auto;
}
p:lang(it) { // The browser does NOT correctly support hyphenation
    //  text-align: left;
    //  hyphens: none;
}
