.dropdown {
   height: 100%;
   cursor: pointer;
   position: relative;
   outline: 0;

   display: flex;
   align-items: center;  // center vertically

   & > .dropdownButton {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;  // center vertically

      height: 100%;
   }

   &.offscreen {
      overflow: hidden;  // avoid flickering scrollbars while menu is offscreen
      & > .menu {
         left: 100000px;
      }
   }

   & > .menu {
      font-size: 0.8rem;

      display: none;
      box-shadow: 3px 3px 4px 0 var(--shadow-color);
      border-radius: .28571429rem .28571429rem 0 0;

      border: 1px solid var(--gray-500);
      background-color: var(--panel-background);
      color: var(--panel-fg);

      left: 0;

      cursor: auto;
      position: absolute;
      outline: 0;
      width: 100%;             // use same width as the selector itself
      min-width: max-content;  // but leave space to show full items text
      max-height: calc(15 * var(--row-height));
      margin: 0;
      padding: 10px;
      z-index: 11;
   }

   &.visible > .menu {
      display: block;
   }

   &.left > .menu {
      right: 0;
      left: auto;
   }

}
