form {
   --vert-spacing: .5em;
}

input,
button,
select {
   background-color: var(--input-background);
   border: 1px solid var(--input-border);
   color: var(--input-foreground);
   padding: 0.25em;
}
.primary input,
button.primary,
.primary .select {
   background-color: var(--input-primary-background);
   border: 1px solid var(--input-primary-border);
   color: var(--input-primary-foreground);
}
input:invalid,
.select.invalid {
   background-color: var(--input-error-background);
   border-color: var(--input-error-border);
   color: var(--input-error-foreground);
}

.disabled button:hover {
   filter: brightness(100%); /* keep normal background */
}
button:hover {
   filter: brightness(var(--input-brightness-hover));
}
button.danger {
   background-color: var(--danger);
   color: var(--danger-fg);
}
.disabled,
.disabled span,
.disabled input,
.disabled button,
.disabled .selector {
   pointer-events: none;
   opacity: 0.5;
}

input[type=text] {
   flex: 1 1;
   font-size: 0.8rem;
}

form fieldset {
   border: 0;
   border-top: 1px solid var(--gray-400);
   padding: 10px;
}
form legend {
   font-weight: bold;
   margin: 0 0 0 -10px;
   padding: 0 10px 0 0;
}

form label {
   display: block;   /* one field per line */
   margin: var(--vert-spacing) 0;
   white-space: nowrap;
   text-align: left;
   font-weight: normal;

   /* center text with input field */
   display: flex;
   flex-flow: row nowrap;
   align-items: center;
}
form label > span {
   margin-right: 10px;   /* space between text and input field */
   min-width: 100px;     /* basic alignment of labels and fields */
}

form .select option {
   overflow: hidden;
}

.multiAccountSelect {
   margin-bottom: 20px;  // leave space for the horizontal scrollbar
}


.select {
   --row-height: 20px;  /* must match ROW_HEIGHT in javascript */
   height: 100%;

   .dropdown {
      border: 1px solid var(--input-border);
      flex: 1 1;   // use all available width in <select> boxes
   }

   .dropdownButton {
      background: var(--input-background);
      color: var(--input-foreground);
      border: 1px solid var(--input-border);
      height: 100%;
      padding: 0 5px;
      flex: 1 1;

      .icon {
         display: inline-block;
         width: 20px;
         height: 20px;
         padding-left: 10px;
         font-size: 1.2em;
         margin-top: -1px;
      }
   }

   .menu {
      background: var(--input-background);
      color: var(--input-foreground);
      border: 1px solid var(--input-border);
   }

   .option {
      cursor: pointer;
      height: var(--row-height);
      font-weight: normal;
      display: flex;
      align-items: center;  // center vertically

      &:hover {
         background: var(--table-hover-background);
      }

      &.selected {
         font-weight: bold;
      }

      &.divider {
         pointer-events: none;
         border-top: 1px solid var(--input-border);
         height: 0;
         margin: 0.5em 0;

         &:hover {
            background: none;
         }
      }
   }

}

form .checkbox {
   position: relative;   /* for positioning of span:before */
}
form .checkbox input {
   margin: 0 5px 0 0;

   /* replace default appearance, since we cannot control colors there */
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   height: 1.8em;
   width: 1.8em;
   border: 1px solid var(--input-primary-background);
   border-radius: 0.5em;
   cursor: pointer;
}
form .checkbox > input:checked {
   border: 1px solid var(--input-primary-background);
   background-color: var(--input-primary-background);
   background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
    
}
form .checkbox > input:indeterminate {
   border: 1px solid var(--input-primary-background);
   background-color: var(--input-primary-background);
   background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10h8'/%3e%3c/svg%3e");
}
form .checkbox > input:active {
    border: 2px solid var(--input-primary-background); 
}

button {
   font-size: 1rem;
   min-width: 10ch;
   min-height: 1em;
   border-radius: 0.5em;
}
