form {
   --vert-spacing: 5px;
}

form fieldset {
   border: 0;
   border-top: 1px solid var(--gray-400);
   padding: 10px;
   margin-bottom: 10px;
}
form fieldset:last-child {
   margin-bottom: 0;
}
form legend {
   font-weight: bold;
   margin: 0 0 0 -10px;
   padding: 0 10px 0 0;
}

form .select {
   display: flex;
   flex-flow: row nowrap;
   align-items: center;
   margin: var(--vert-spacing) 0;
}
form .select label {
   flex: 0 0 min-content;
   white-space: nowrap;
   text-align: left;
   margin-right: 10px;
}
form .select select {
   flex: 1 1;
   font-size: 0.8rem;
}
form .select option {
   overflow: hidden;
}

form .checkbox {
   margin: var(--vert-spacing) 0;
}
form .checkbox label {
   font-weight: normal;
   margin: 0;
}
form .checkbox input {
   margin: 0 5px 0 0;
}
form .checkbox.disabled label {
   color: var(--gray-400);
}
