#lsidebar {
   grid-area: lsidebar;
   margin-left: var(--side-margin);

   display: flex;
   flex-flow: column nowrap;  /* desktop */
}

#lsidebar h3 {
   font-size: 1rem;
   white-space: nowrap;
   text-overflow: ellipsis;
   overflow: hidden;
   color: var(--tool-color);
}

@media only screen and (max-width: 1024px) {
   #lsidebar {
      flex-flow: row wrap;  /* tablet */
   }
   #lsidebar .roundButton span:last-child {
      display: none;  /* hide text */
   }
   #lsidebar h3 {
      display: none;
   }
}

