.panel {
   background: var(--panel-background);
   color: var(--panel-fg);
   box-shadow: 6px 6px 10px 0 var(--shadow-color);
   border: 1px solid var(--shadow-color);
   /* border-radius: .5em; */

   display: flex;
   flex-flow: column nowrap;
}

.panel .header {
   display: flex;
   flex-flow: row nowrap;
   justify-content: space-between;
   align-items: center;
   padding: 5px;
   margin-bottom: 10px;
}

.panel .header h1 {
   font-size: 1em;
   font-weight: bold;
   margin: 0;
}

.panel > .content {
   flex: 1 1;
}

.col1 { grid-column-end: span 1; }
.col2 { grid-column-end: span 2; }
.col3 { grid-column-end: span 4; }
.col4 { grid-column-end: span 4; }

.row1 { grid-row-end: span 1; }
.row2 { grid-row-end: span 2; }
.row3 { grid-row-end: span 3; }
.row4 { grid-row-end: span 4; }

.panel .settingsMenu {
   position: relative;
   cursor: pointer;
}
.panel .settings {
}
