.panel {
   background: var(--panel-background);
   color: var(--panel-fg);
   box-shadow: 6px 6px 10px 0 var(--shadow-color);
   border: 1px solid var(--shadow-color);
   /* border-radius: .5em; */
   z-index: 1;

   display: flex;
   flex-flow: column nowrap;
}

.panel .header {
   display: flex;
   flex-flow: row nowrap;
   justify-content: space-between;
   align-items: center;
   padding: 5px;
}

.panel .header h1 {
   font-size: 1em;
   font-weight: bold;
   margin: 0;
}

.panel > .content {
   flex: 1 1;
}

