.dash-ticker {
   box-sizing: border-box;
   transition: transform 0.3s;

   &:hover {
      // ??? With this, tooltips are displayed below graphs in other boxes
      // transform: scale(1.1);
   }

   .items {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: center;
      width: 100%;
      margin-top: 10px;

      .item {
         flex: 0 0 calc(50% - 5px);
         display: flex;

         &:hover .tooltip {
            display: block;
         }
         .head {
            flex: 1;
            color: var(--cartesian-grid);
            white-space: nowrap;
         }
         .value {
            flex: 1;
            text-align: right;
         }
      }
   }

   .tooltip {
      background: var(--page-background);
      border: 1px solid var(--shadow-color);
      color: var(--panel-fg);
      cursor: default;
      display: none;
      margin-top: 20px;
      pointer-events: none;
      position: absolute;
      text-align: left;
      white-space: normal;
      width: 250px;
      z-index: var(--zindex-tooltip);

      table.return {
         width: 100%;
         border-spacing: 0;
         border-collapse: collapse;
         th {
            font-weight: bold;
         }
         td {
            text-align: right;
         }
         :is(th,td) {
            border: 1px solid var(--shadow-color);
         }
      }
   }

   .hist {
      flex: 0 1 100px;
   }

   .prices {
      margin: 10px 0;
      display: flex;
      justify-content: space-between;
   }

   .recharts-cartesian-axis-tick-value {
      font-size: 0.8em;
      fill: var(--panel-fg-low-contrast);
   }

   .perf {
      min-height: 4em;

      table {
         margin-top: 10px;
         width: 100%;
         table-layout: fixed;
         border-collapse: collapse;
   
         :is(td,th):hover .tooltip {
            display: block;
         }
   
         td, th {
            border: 1px solid var(--shadow-color);
            text-align: center;
         }
   
         th {
            font-weight: bold;
         }
      }
   }
}
