.settings {
   z-index: 100;
   position: absolute;
   border: 1px solid var(--gray-500);
   background-color: var(--panel-background);
   color: var(--panel-fg);
   border-radius: 10px;
   box-shadow: 3px 3px 4px 0 var(--shadow-color);
   padding: 10px;
   transition: transform 0.2s;
   font-size: 0.8rem;
}

.settings.closed {
   transform: scale(0);
}
.settings.opened {
   transform: scale(1);
}

