.settings {
   z-index: 100;
   position: absolute;
   top: var(--header-tool-height);
   border: 1px solid var(--gray-500);
   background-color: var(--panel-background);
   color: var(--panel-fg);
   border-radius: 10px;
   box-shadow: 3px 3px 4px 0 var(--shadow-color);
   padding: 10px;
}

.settings.closed {
   transform: scale(0);
   transition: transform 0.3s;
}
.settings.opened {
   transform: scale(1);
   transition: transform 0.3s;
}

.settings form fieldset {
   border: 0;
   padding: 10px;
}
.settings form legend {
   font-weight: bold;
   text-decoration: underline;
}

.settings .option label {
   display: block;
   font-weight: bold;
   white-space: nowrap;
   text-align: left;
   margin: 15px 0 6px 0;
   font-size: 0.8rem;
}
.settings select {
   width: 100%;
}
.settings .button label {
   font-weight: normal;
   margin: 0;
}
.settings .button.disabled label {
   color: var(--gray-400);
}

