.styleguide {
   min-width: 100vw;
   min-height: 100vh;
   background: black;

   display: flex;
   flex-flow: row nowrap;
   align-items: stretch;
   gap: 20px;
}
.styleguide > div {
   flex: 1 1;
}
.styleguide .twocolumn {
   display: flex;
   flex: row nowrap;
}
.styleguide .twocolumn > div {
   flex: 1 1;
   margin: 0 10px;
}

.styleguide .palette {
   display: flex;
   flex-flow: row nowrap;
   gap: 5px;
   min-height: 40px;
}
.styleguide .palette > span {
   flex: 1 1;
   display: flex;
   align-items: center;
}
.styleguide .color100 { background: var(--color-100); color: var(--fg-color-100); }
.styleguide .color200 { background: var(--color-200); color: var(--fg-color-200); }
.styleguide .color300 { background: var(--color-300); color: var(--fg-color-300); }
.styleguide .color400 { background: var(--color-400); color: var(--fg-color-400); }
.styleguide .color500 { background: var(--color-500); color: var(--fg-color-500); }
.styleguide .color600 { background: var(--color-600); color: var(--fg-color-600); }
.styleguide .color700 { background: var(--color-700); color: var(--fg-color-700); }
.styleguide .color800 { background: var(--color-800); color: var(--fg-color-800); }
.styleguide .color900 { background: var(--color-900); color: var(--fg-color-900); }
.styleguide .gray100  { background: var(--gray-100);  color: var(--fg-gray-100); }
.styleguide .gray200  { background: var(--gray-200);  color: var(--fg-gray-200); }
.styleguide .gray300  { background: var(--gray-300);  color: var(--fg-gray-300); }
.styleguide .gray400  { background: var(--gray-400);  color: var(--fg-gray-400); }
.styleguide .gray500  { background: var(--gray-500);  color: var(--fg-gray-500); }
.styleguide .gray600  { background: var(--gray-600);  color: var(--fg-gray-600); }
.styleguide .gray700  { background: var(--gray-700);  color: var(--fg-gray-700); }
.styleguide .gray800  { background: var(--gray-800);  color: var(--fg-gray-800); }
.styleguide .gray900  { background: var(--gray-900);  color: var(--fg-gray-900); }
